<article class="container py-5">
    <div class="single-item py-4">
        <div>
            <img src="../../../assets/images/picture1.png" class="d-block w-100" alt="Teapot1">
        </div>
    </div>
    <h2 class="pt-5 pb-4  m-0 text-center fs-2">Ответы на часто задаваемые вопросы</h2>
    <div id="accordion" class="col-lg-8 m-auto mb-4">
        <h6>Собираете ли вы подарочные боксы?</h6>
        <div>
            <p>Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!</p>
        </div>
        <h3>Сколько у вас разновидностей чая?</h3>
        <div>
            <p>Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость! </p>
        </div>
        <h3>В какой срок осуществляется доставка?</h3>
        <div>
            <p>Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!</p>
        </div>
        <h3>У вас обновляется ассортимент?</h3>
        <div>
            <p>Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!</p>
        </div>
        <h3>Какого объема у вас пачки чая?</h3>
        <div>
            <p>Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!</p>
        </div>
    </div>
</article>

<div id="popup" class="popup" style="display: none;">
    <div class="popup-content">
        <p>Посмотрите наши чайные коллекции</p>
        <a class="btn" id="view-collections" routerLink="/products">Смотреть</a>
    </div>
</div>

