<div class="col product-item container">
    <h1 class="card-title">Описание товара</h1>
    <div class="card">
        
        <a  class="card-image" *ngIf="product.image">
            <img src="{{product.image}}" class="card-img-top" alt="Image1">
        </a>
        <div class="card-body">
            <h5 class="card-title">{{product.title}}</h5>
            <p class="card-text fs-6">Цена: {{product.price}} руб.</p>
            <p class="card-text fs-6">{{product.description}}</p>
            <a href="#" class="btn btn-primary btn-group" routerLink="/order" [queryParams]="{product: product.title}">Купить</a>
        </div>
    </div>
</div>

